@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,400&display=swap");

body {
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
}
*::-webkit-scrollbar {
  width: 9px;
  background-color: beige;
}
*::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#e966a0, #9575de);
}

.logo {
  background: -webkit-linear-gradient(#e966a0, #9575de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.navigation-bar {
  margin: 10px;
}

.nav-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}

.faq-hide {
  display: none;
}

.nav-links {
  display: grid;
  justify-content: center;
  align-items: center;
}

.nav-links a {
  margin: 10px 0;
  font-size: 1.15rem;
  text-decoration: none;
  color: #333;
  transition: 1s;
}

.nav-links a:hover {
  border-bottom: 2px solid #333;
}

.nav-links button {
  padding-top: 20px;
}

.btn {
  border: 0;
  background-color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.hero-section,
.features,
.partners,
.why-banner {
  margin: 50px 15px;
}

.small-header {
  border: 2px solid #333;
  border-radius: 15px;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 10px 9px;
  margin: 15px 0;
}
.hero-text h2 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #333;
}

.hero-text,
.features-text p,
.why-text p {
  font-size: 0.95rem;
  color: gray;
  font-weight: 200;
  margin-bottom: 40px;
}

.hero-text a {
  margin: 10px 0;
  font-size: 1.15rem;
  text-decoration: none;
  border: 1px solid #fff;
  background: linear-gradient(#e966a0, #9575de);
  border-radius: 5px;
  padding: 6px;
  color: #fff;
}

.feature-item-group {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-left: 11px;
}

.feature-item {
  border: 2px solid #333;
  background-color: #333;
  border-radius: 10px;
  padding: 10px;
  color: #fff;

  place-content: center;
  text-align: center;
  width: 175px;

  margin: 30px 0;
  transition: 0.3s;
}

.feature-item:hover {
  background-color: #333;
  color: transparent;
  border: 2px solid #333;
  background-image: -webkit-linear-gradient(#e966a0, #9575de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#font-icon {
  color: #9575de;
}

.feature-item span {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.span-item {
  text-align: center;
  margin: 20px 0;
}

.features-text {
  text-align: center;
}
.span-item span {
  color: gray;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.features-text h1,
.why-text h1 {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
}

.features-text a {
  font-size: 1.1rem;
  font-weight: 400;
  background: -webkit-linear-gradient(#e966a0, #9575de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.partner-item-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.partner-item-img img {
  width: 100px;
  height: 50px;
}

.why-text {
  text-align: center;
}

.why-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.why-item {
  align-items: center;
  margin: 15px;
}

.why-item span {
  margin-left: 10px;
  font-weight: 500;
}

.why-item p {
  display: none;
}

.footer-flex {
  display: grid;
  text-align: center;
  background: linear-gradient(#e966a0, #9575de);
  margin: 0;
}

.footer-item h3 {
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-item div p {
  color: #fff;
}

.faq-text {
  text-align: center;
  margin-bottom: 20px;
}

.questions {
  margin: 25px 0;
}
.question-box {
  margin: 15px 30px;
  border-bottom: 2px solid #9575de;
}

.question-box span {
  font-size: 1rem;
  font-weight: 500;
}

.question-box h2 {
  display: inline;
  font-size: 0.95rem;
  margin-left: 5px;
  margin-right: 15px;
  font-weight: 500;
}

.question-box p {
  font-size: 0.8rem;
  color: gray;
  font-weight: 300;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question-header button {
  margin-top: 20px;
  font-size: 0.9rem;
}

.account-page {
  margin: 20px;
}
.account-img {
  width: 30px;
  height: 30px;
  border: gray;
  background-color: whitesmoke;
  border-radius: 100%;
  padding: 6px;
}

.side-nav-links {
  display: grid;
}
.sidebar-item {
  margin: 47px 5px;
}

.sidebar-item p {
  display: inline;
  margin-left: 15px;
  color: #333;
}

.sidebar-item span {
  color: #9575de;
}

.head-info-display {
  display: inline;
}

.head-info-display h1 {
  font-size: 1.1rem;
}

.head-info-display p {
  font-size: 0.9rem;
  color: gray;
}

.main-body {
  margin: 20px;
}
.main-body-card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid #333;
  margin: 10px;
}

.main-body-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border: 1px solid #fff;
  background: linear-gradient(#e966a0, #9575de);
  padding: 30px;
  color: #fff;
  border-radius: 10px;
}

.card-body h1 {
  font-size: 1.3rem;
}

@media screen and (min-width: 576px) {
  .navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-img button {
    display: none;
  }

  .hide {
    display: flex;
  }

  #links a {
    margin: 10px 15px;
    font-size: 1rem;
    text-decoration: none;
    color: #333;
    transition: 1s;
  }

  #links button {
    margin: 4px 50px;
    font-size: 1.15rem;
    text-decoration: none;
    border: 1px solid white;
    background: linear-gradient(#e966a0, #9575de);
    border-radius: 5px;
    padding: 6px;
    color: #fff;
  }

  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero-image img {
    width: 470px;
    height: 450px;
  }

  .small-header {
    font-size: 1rem;
  }

  .hero-text h2 {
    font-size: 3.2rem;
  }

  .hero-text p {
    font-size: 1rem;
    width: 550px;
    margin-bottom: 30px;
  }

  .hero-text a {
    font-size: 1.2rem;
    padding: 10px;
  }

  .desk-padding {
    margin: 50px 70px;
  }

  .navigation-bar {
    margin: 20px;
  }

  .span-item span {
    font-size: 1.2rem;
  }

  .partner-item-img {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .partner-item-img img {
    width: 200px;
    height: 150px;
  }

  .features {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feature-item-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 11px;
  }

  .feature-item {
    width: 250px;
    min-height: 150px;
    max-height: 150px;
    margin: 30px;
  }

  .features-text {
    text-align: left;
  }

  .features-text h1,
  .why-text h1,
  .faq-text h1 {
    font-size: 2.8rem;
  }

  .features-text .span-item {
    text-align: left;
  }

  .features-text a {
    font-size: 1.35rem;
  }

  .why-text p {
    font-size: 1.1rem;
  }

  .why-item {
    width: 400px;
    box-shadow: rgb(241, 110, 169, 0.1) 0px 8px 24px;
    padding: 15px;
  }

  .why-items {
    margin-left: 75px;
  }

  .why-item span {
    font-size: 1.2rem;
  }
  .why-item p {
    display: block;
    margin-left: 10px;
    font-size: 0.9rem;
    color: gray;
    font-weight: 300;
  }

  .faq-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .faq-text {
    text-align: left;
  }

  .question-box {
    width: 400px;
  }
  .question-box span {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .question-box h2 {
    font-size: 1.15rem;
  }

  .question-box p {
    font-size: 0.9rem;
  }

  .banner {
    text-align: center;
    align-items: center;
    padding: 1rem;
    color: #333;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(#e966a0, #9575de) 1 1 100%;
  }

  .banner div {
    margin: 30px 125px;
  }

  .banner span {
    font-size: 2.5rem;
    font-weight: 500;
    color: #333;
  }

  .banner p {
    font-size: 1.3rem;
    text-transform: uppercase;
    display: block;
    color: gray;
  }
}
